.vscode
.idea
*__pycache__
*.pyc
*.sqlite

*.dev.yaml
*devtest

logs
data
celerybeat-schedule
celerybeat.pid

# General
.DS_Store
.AppleDouble
.LSOverride

# MJML DEV
*node_modules
*package-lock.json
*package.json
*build_comm